@import "2020base";

body {
  background-color: $color-white;
}

a:not(.btn):not(.slp-btn), 
a:not(.btn):not(.slp-btn):active, 
a:not(.btn):not(.slp-btn):hover, 
a:not(.btn):not(.slp-btn):focus {
  color: #7D2BD9;
}

.headline-container:before {
  content: "";
  background-color: #F8F8F8;
  height: 410px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

h1, h2 {
  position: relative;
  z-index: 1;
}

h1 {
  margin-top: 100px;
}

h1:before {
  background: url(/images/sales/particles-sales.svg) no-repeat 100% 0;
  content: "";
  height: 146px;
  left: -59px;
  position: absolute;
  top: -70px;
  width: 108px;
}

.demo-scroll-link {
  display: none;
  z-index: 1;
}

.checklist-header {
  margin-top: 110px;
}

@media (max-width: 1400px) {
  .checklist-header {
    margin-top: 80px;
  }

  .headline-container:before {
    height: 450px;
  }
}

.purple-check {
  position: relative;
  list-style-type: none;
}

.purple-check:before {
  background: url(/images/demo/tick-circle.svg) no-repeat 100% 0;
  content: "";
  height: 16px;
  left: -32px;
  position: absolute;
  top: 4px;
  width: 16px;
}

.left-side {
  width: calc(50% - 60px);
  margin-right: 60px;
  float: left;
}

.right-side {
  width: calc(50% - 60px);
  float: right;
  margin-left: 60px;
  margin-top: 85px;
}


////////////////////////////////
///////////* FORM *////////////
////////////////////////////////

.form-container {
  z-index: 1;
  position: relative;
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.mktoForm[data-formid="1754"] {
  width: 100%; 
  text-align: left;


  .mktoFieldDescriptor .mktoFieldWrap input.mktoInvalid {
    border: 1px solid #F24F63;
  }

  .mktoFormRow {
    margin-bottom: 16px;
  }

  .mktoFieldWrap input:not([type="checkbox"]),
  .mktoFieldWrap select {
    width: 100%;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 12px 16px;
  }

  .mktoCheckboxList {
    margin-left: 0;

    input {
      margin-right: 8px;
      margin-top: 2px;
    }

    label {
      color: #333;
    }
  }

  .mktoFieldWrap label {
    float: left;
    margin-bottom: 4px;
  }

  .mktoAsterix {
    display: none;
  }

  .mktoFieldDescriptor #LblcommentCapture,
  .mktoFieldDescriptor #commentCapture {
    width: 100%;
  }

  select {
    height: inherit;
  }

  .mktoButtonWrap button {
    width: 100%;
    background-color: #fa7035;
    color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
    display: inline-block;
    padding: 4px 30px;
    font-size: 16px;
    line-height: 40px;
    min-width: 140px;
    min-height: 52px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

.demo-container {
  width: 100%;
  height: 100%;
  display: flex;

  .video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px;

    #demo-info {
      position: relative;
      z-index: 10;
    }

    iframe {
      display: none;
      border: 0;
      box-shadow: none;
      width: 800px;
      height: 450px;
      margin-top: 30px;

      @media all and (max-width: $screen-md-min) {
        height: 350px;
      }
    }

    @media all and (max-width: $screen-md-min) {
      padding: 40px 20px;
    }
  }

  .demo-form-container {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 60px;
    background: $color-white;

    @media all and (max-width: $screen-md-min) {
      width: 100%;
      padding: 40px 20px;
    }
  }

  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
  }
}



////////////////////////////////
///////////* CONTACT *////////////
////////////////////////////////

#get-started-block {
  margin-top: 60px;
  padding: 0;
}

#get-started-block h3 {
  position: relative;
  margin-bottom: 8px;

  .btn.lavender {
    width: unset;
  
    @media (max-width: 958px) {
      width: 100%;
    }
  }
}

#get-started-block h3:before {
  background: url("/images/enterprise/gitlab-enterprise-team-member-photos.png") no-repeat 0 0;
  background-size: 212px;
  content: "";
  display: block;
  font-size: 0;
  height: 91px;
  line-height: 0;
  margin: 0px auto 20px auto;
  width: 213px;
}

#get-started-block h3:after {
  background: url("/images/pricing/particles-contact.svg") no-repeat 0 0;
  content: "";
  display: inline-block;
  height: 47px;
  left: calc(50% - 43px);
  position: absolute;
  top: -47px;
  width: 86px;
}


@media (max-width: $screen-sm-min) {
  .left-side,
  .right-side {
    width: 100%;
    margin-top: 64px;
    text-align: center;
  }

  .headline-container {
    margin-right: 0;

    &:before {
      height: 410px;
    }
  }

  h1 {
    margin-top: 0;

    &:before {
      background: url(/images/sales/particles-sales-2.svg) no-repeat 100% 0;
      left: -30px;
      top: -40px;
    }
  }

  .demo-scroll-link {
    position: relative;
    display: block;
    margin-top: 16px;
  }

  .checklist-header,
  .purple-check {
    text-align: left;
  }

  .form-container {
    border: 0;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .demo-container .video-container iframe {
    height: 250px;
    margin-top: 0;
  }
}
